@import url('https://fonts.googleapis.com/css?family=Kanit');
*{
  font-family: 'Kanit', sans-serif;
}
body {
	margin:0;
	padding:0;
	background-color: #f0f0f0;
}
#form2 table tr td {
	font-size: larger;
}
#header{
	text-align:center;
	margin:5em 20%;
	color:#f5aa00
}
#form{
	margin:2em 20%;
}
.btn {
    align-self: center;
    color: #fff !important;
    border: 3px solid #f5aa00;
    display: block;
    margin: auto;
    width: 30%;
    background-color: #f5aa00;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
	transition:color .3s,background .3s;
	cursor:pointer;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
	border-radius:2px;
}

.btn:hover{
	color:#f5aa00 !important;
	background:#fff;
}
.input{
	border:solid 1px;
	background-color:#fff;
	border-color:#fff;
	display:block;
	margin:1em;
	width:80%;
	color:#f5aa00;
	margin:auto;
	padding:0.5em 1em ;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
	border-radius:2px;
}
#nav {
    display: block;
    width: 100%;
    position: fixed;
    text-align: center;
	background-color: #f5aa00;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
}
.navbar{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
	//width:15%;
	float:left;
}
.navbar .logo{
    align-self: center;
    color: #fff !important;
    border: 3px solid #f5aa00;
    display: block;
	width: 20%;
    margin: auto;
    background-color: #f5aa00;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
	transition:color .3s,background .3s;
	border-radius:2px;
}
.navbar li .btn{
	width: 80%;
}
.navbar .nav-info{
	color:#fff;
}
.nav-btn {
    align-self: center;
    color: #fff;
    border: 3px solid #f5aa00;
    display: block;
    margin: auto;
    width: 100%;
    background-color: #f5aa00;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
	cursor:pointer;
	border-radius:2px;
	transition:color .3s,background .3s;
}
.nav-btn:hover{
	color: #f5aa00;
	background-color: #fff ;
}
.card{
	margin:auto !important;
	width:50%;min-width:400px;max-width:800px;
	background-color:#fff;
	padding:2em;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
}
